/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body{
  background: #e9e9e9;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 24px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.form-box{
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 24px;
  width: 408px;
  max-height: 296px;
  border-radius: 8px;
  background: #fff;
}

.feedback-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.modal-label{
  width: 100%;
}

.input-text{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.form-input{
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 8px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42; 
}

.form-input:hover{
  border: 1px solid #000;
}

.form-message{
  width: 100%;
  height: 80px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 16px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42; 
}



.btn-form{
  border: 0;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-form:hover{
  background: #6c8cff;
}

